@charset "UTF-8";

body {
  background-color: rgb(247, 244, 244);
}

#messages {
  margin-bottom: 24px;
}

:root {
  --color-primary: #f0b49a;          
  --color-primary-content: #3b2a2a;  
  --color-secondary: #f6c6d6;
  --color-secondary-content: #3b2a33;
}